*{
    padding: 0;
    margin: 0;
}
body{
    background: #f5f5f5;
    font: 100% Arial;
    color: 555;
    line-height: 1.3;
}
.layout-positioner{
    width: 70%;
    margin: 0 auto;
}
.header{
    padding: 30px 0 0 0;
    margin-bottom: 20px;
    background: #8B008B;
    overflow: hidden;
}
.header .logo{
    margin: 0 40px 20px 40px;
    display: block;
    float: left;
}
.header .forma {
    width: 400px;
    min-height: 60px;
    float: right;
    margin-bottom: 20px;
    padding-right: 30px;
    color: white;
}
.header .forma .input {
    width: 50%;
    float: left;
    margin: 0;
}

.header .forma input[type=e-mail],
.header .forma input[type=password] {
    font-size: 12px;
    display: block;
    width: 180px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #ebe6e2;
    border-radius: 3px;
}

.header .forma input[type=e-mail]:hover,
.header .forma input[type=password]:hover {
    border-color: #CCC;
}
.header .forma input[type=e-mail]:focus,
.header .forma input[type=password]:focus {
    border-color: grey;
    outline: none; 
}

.header .forma input[type=e-mail]::-webkit-input-placeholder,
.header .forma input[type=password]::-webkit-input-placeholder
{ 
    opacity: 0.3; 
}

.header .forma .submit {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}
.header .forma input[type=submit]:hover
{
    border-color: red;
}

.header .forma input[type=submit]{
    width: 180px;
    height: 30px;
    float: left;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    margin-left: 5px;
    border: 2px solid #ebe6e2;
    color: white;
    background: Crimson;
}
.menu{
    list-style: none;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    margin-top: 100px;
}
.menu li{
    float: left;
    padding: 8px 40px;
}
.header li a{
    color: #ffffff;
    text-decoration: none;
}
.header li a:hover{
    border-bottom: 2px solid #FF0000;
}
.header .active a{
    color: #FF0000;
    border-bottom: 2px solid #FF0000;
}
.content{
        overflow: hidden;
}
.content h1{
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    color: green;
}
.content p{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
}
.content img{
    margin-bottom: 20px;
}
.content-left{
    padding: 30px 30px 32000px 30px;
    margin-bottom: -32000px;
    width: 520px;
    float: left;
}
.content ul{
    margin: 20px;
    list-style-type: circle;
}
.side_bar{
    width: 230px;
    padding: 30px 10px 30px 25px;
    float: right;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border: 2px solid #CCCCCC;
}
.side_bar a{
    color: mediumblue;
    line-height: 2;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}
.side_bar a:visited{
    color: #882ea0;
}
.side_bar a:active{
    border-bottom: 1px solid black;
}
.footer{
    padding: 15px 0 20px 30px;
    color: #d8d8d9;
    background-color: #8B008B;
}
@media screen and (max-width: 768px){
    .header .logo{
        margin: 0 20px 20px 180px;
    }
    .menu{
    font-size: 18px;
    font-weight: bold;
    margin-top: 200px;
    }  
    .side_bar{
    float: none;
        margin: 0 auto;
    }
}